* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #024968, #07034b, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #000000, #07034b, #160797); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 130vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;   
    flex-direction: column;
    width: 100%;
}

.logo {
    display: flex;
}

.logo img {
    width: 120px;
    margin: auto;
    margin-top: 48px;
}

.bandeiras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20%;
    gap: 32px;
}

.bandeira {
    border-radius: 4px;
    background-color: rgb(29, 12, 49);
    border: 1px solid rgb(255, 255, 255);
    width: 60%;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.main {
    margin: auto;
    width: 80%;
    height: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.other {
    margin: auto;
    width: 80%;
    height: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 24px;
    text-align: center;
}

input {
    width: 100%;
}

table {
    margin: auto;
    margin-top: 48px;
    width: 100%;
    outline: none;
}

th {
    padding: 4px 0;
}

td {
    padding: 4px 0;
    text-align: center;
}

/* .hidder {
    display: none;
} */

.receber {
    padding: 8px ;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-top: 32px;
}

.form .sendBtn {
    margin-top: 24px;
    padding: 8px 0;
    width: 50%;
    margin: auto;
}

#bandeiras {
    display: flex;
}

#main {
    display: none;
}

#other {
    display: none;
}

@media (min-width: 800px) {
    #receber {
        width: 90%;
    }
    .form {
        margin: auto;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.416);
        padding: 20px 10px 20px 20px;
        border-radius: 8px;
        box-shadow: rgba(109, 108, 108, 0.35) 0px 5px 15px;
    }

    .main {
        width: 40%;
    }
}

